@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url('./fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
/* > CONFIG GLOBAIS > =======================*/
/*Cores selecionadas na forma de variáveis*/
:root {
    --cor1: #c5ebd6;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}
/* < CONFIG GLOBAIS < =======================*/

body {
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
}

/*QUALQUER LINK EXTERNO TERÁ UMA "CORRENTINHA" AO LADO*/
a.externo::after {
    content: '\00A0\1F517'; /*Desenho da correntinha para link externo*/
}

/*=== HEADER ==================
===============================*/

/*Layout geral do header*/
header {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor6));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

/*Para todos h1 dentro de header*/
header>h1 {
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    margin: auto;
    max-width: 500px;
    padding-left: 20px;
    padding-right: 20px;
    text-shadow: 2px 2px 0px black;
}

/*Todos 'p' do header*/
header>p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    text-shadow: 2px 2px 0px rgb(28, 27, 27);
}

/*=== NAV ==========================================*/
nav {
    background-color: var(--cor6);
    padding-top: 30px;
    padding-bottom: 10px;
    box-shadow: 0px 7px 9px rgb(81, 81, 81);
}

nav>a {
    color: var(--cor1);
    margin: 10px 0px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 0.5s;
}

nav>a:hover {
    background-color: var(--cor2);
    color: var(--cor5)
}   

/*=== MAIN =================================================*/

/*GERAL, MAIN*/
main {
    /*limitam a largura do main*/
    min-width: 300px;
    max-width: 800px;

    background-color: white;
    margin: auto;
    padding: 20px;
    text-align: justify;
    box-shadow: 0px 0px 10px black;
    /*Sombra para ambos os lados*/
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*Todos os h1 do main (desnecessário, só tem 1)*/
main h1 {
    color: var(--cor5);
    font-family: var(--font-android);
}

/*= H2, MAIN - TODOS =*/
main h2 {
    font-family: var(--font-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor2), transparent);/*degradê de fundo*/
    text-indent: 8px;/*Recuo do parágrafo*/
}

/*= P, MAIN - PARA TODOS =*/
main p { /*não põe '>' para não afetar o 'p' do article, mas vai pegar 
    o 'p' de todo o main - Capítulo 17 Aula 10 - 7:00*/
    margin: 15px 0px 15px 0; /*descolando os 'p' de cima e baixo*/
    text-align: justify;
    text-indent: 30px; /*recuo dos parágrafos*/
    line-height: 2em; /*espaço entre as linhas*/

}

main strong {
    color: var(--cor4);
    font-weight: bold;
    }

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;  
}

main a:hover{
    text-decoration: underline;
    color: var(--cor4);
}

/*=== FOTOS-MAIN =====
======================*/

main img {
    width: 100%;
}

/*IMG DO BUGDROID SEGURANDO A MÃO DE FIGURA HUMANA*/
main img.pequena {
    max-width: 350px; /*imagem com pouca resolução vai desfocar em tela grande*/
    display: block;
    margin: auto;
}

/*=== ASIDE ==========================================*/
aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px black;
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;/*Fez com que a faixa mais escura ocupasse toda a caixa mais clara*/
    border-radius: 10px 10px 0px 0px;
}

aside > ul {
    list-style-type: '\2714\00A0\00A0'; /* mód 2 aula 17 8:00 - não compativel com todos os navegadores*/
    list-style-position: inside; /*coloca as bolinhas para dentro*/
    columns: 2;
}

/*=== FOOTER ==========================================*/
footer {
    background-color: var(--cor6);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}