@charset "UTF-8";

@font-face {
    font-family: 'Android';
    src: url('./fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

/*Cores selecionadas na forma de variáveis*/
:root {
    --cor1: #c5ebd6;
    --cor2: #83e1ad;
    --cor3: #3ddc84;
    --cor4: #2fa866;
    --cor5: #1a5c37;
    --cor6: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
}

/*=== HEADER ==================
===============================*/

/*Layout geral do header*/
header {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor6));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}

/*Todos h1 dentro de header*/
header>h1 {
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    margin: auto;
    max-width: 500px;
    padding-left: 20px;
    padding-right: 20px;
    text-shadow: 2px 2px 0px black;
}

/*Todos p do header*/
header>p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    text-shadow: 2px 2px 0px rgb(28, 27, 27);
}

/*=== NAV ==========================================*/
nav {
    background-color: var(--cor6);
    padding: 10px;
    box-shadow: 0px 7px 9px rgb(81, 81, 81);
}

nav > a {
    color: white;
    margin: 10px 0px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

/*=== MAIN ===================
==============================*/

/*Config. gerais do main*/
main {
    /*limitam a largura do main*/
    min-width: 300px;
    max-width: 800px;

    background-color: white;
    margin: auto;
    text-align: justify;
    box-shadow: 0px 0px 10px black; /*Sombra para ambos os lados*/
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*Todos os h1 do main (desnecessário, só tem 1)*/
main h1 {
    color: var(--cor5);
    font-family: var(--font-android);
}

/*Todos os h2 do main*/
main h2 {
    font-family: var(--font-android);
}

/*=== FOTOS-MAIN =====
======================*/

main img {
    width: 100%;
}

main img.pequena{
    width: 70%;
    display: block;
    margin: auto;
}
/*=== FOOTER ==========================================*/
footer {
    background-color: var(--cor6);
    color: white;
}